[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sense-emu = "*"

[packages]
sense-hat = "*"
inspy-logger = "*"
pysimplegui = "*"
us = "*"
geopandas = "*"
matplotlib = "*"
pysimpleguiqt = "*"
pyperclip = "*"

[requires]
python_version = "3.6"
